# force processing of bookmarklet.js as PHP
<Files bookmarklet.js>
	ForceType application/x-httpd-php
	SetHandler application/x-httpd-php
</Files>

<Files show-rubrics.php>
	Order allow,deny
	Allow from all
</Files>